html{
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body{
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 1.4rem;
}
h1{
  font-size: 2.4rem;
}
.container-item{
  margin: 0 auto 0;
}
.landing-page-container {
  width: 100%;
  height: 100vh;
  min-height: 100%;
 overflow: hidden;
 display: table;
 font-family: "Montserrat", sans-serif;;
 color:#000506;
}
.landing-page-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.content-wrapper{
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header{
  width: 100%;
  height: 2rem;
  padding: 3rem 0;
  display: block;
}
.menu-icon{
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
}
.header-item{
  display: inline-block;
  float: left;
}
.menu-icon-line{
  width: 1.5rem;
  height: .2rem;
  background: #0C383E;
  display: block;
}
.menu-icon-line:before, .menu-icon-line:after{
  content: '';
  width: 1.5rem;
  height: .2rem;
  background: #0C383E;
  display: inline-block;
  position: relative;
}
.menu-icon-line:before{
  left: .5rem;
  top: -0.6rem;
}
.menu-icon-line:after{
  top: -1.8rem;
}
.heading{
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 0 30px;
  text-align: center;
}
.social-container{
  width: 7.25rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;
}
.social-container .social-icon{
  width: 1.5rem;
  float: left;
  cursor: pointer;
}
.social-container .social-icon-dr {
  margin-left: 1.25rem;
}
.social-container .social-icon-in {
  margin-left: 1.5rem;
}
.social-container .social-icon-fb img{
  margin: 0 0.25rem;
}
.coords {
  font-size: 1rem;
  display: inline-block;
  float: left;
  position: relative;
  top:40%;
  letter-spacing: .2rem;
  left: -11.5rem;
  margin: 0;
  transform: rotate(-90deg) translateY(50%);
}

.ellipse-container{
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 7rem;
}

.ellipse-container .greeting{
  position: relative;
  top: 14rem;
  left: -6rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 8rem;
  font-weight: 400;
  opacity: .5;
}

.ellipse-container .greeting:after{
  content: '';
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}
.ellipse{
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}
.ellipse-outer-thin{
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9,56,62,.1);
  animation: ellipseOrbit 15s ease-in-out infinite;
}
.ellipse-outer-thin:after{
  content: "";
  background-image: url(https://s29.postimg.org/5h0r4ftkn/ellipses-dial.png);
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #000;
  position: absolute;
  opacity: .3;
}

.ellipse-outer-thick{
  width: 99.5%;
  height:  99.5%;
  border-width: 2px;
  border-color: #000506 transparent;
  transform: rotate(-45deg);
  animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse-orbit{
  width: 2.5rem;
  height:2.5rem;
  border-width: 2px;
  border-color:#000506;
  top: 5rem;
  right: 6.75rem;
}

.ellipse-orbit:before{
  content: '';
  width:0.7rem;
  height:0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #000506;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes ellipseRotate {

  0%{
    transform: rotate(-45deg);
  }
  100%{
    transform: rotate(-405deg);
  }
}

@keyframes ellipseOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
